body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 50px; 
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
}

.navbar-frame {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    overflow: hidden; 
    background-color: white; 
    width: 600px; 
    display: flex; 
}

.horizontal-nav {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-grow: 1; 
    align-items: stretch; 
}

.nav-item {
    padding: 15px 25px; 
    text-align: center;
    background-color: black; 
    white-space: nowrap; 
    
}

.nav-item a {
    text-decoration: none; 
    color: white; 
    font-size: 1.1em;
    display: block; 
}


.nav-item + .nav-item { 
    border-left: 1px solid white;
    border-bottom: 10px ridge goldenrod;
     
}


.nav-item.active {
    background-color: black; 
    color: white; 
}

.nav-item.active a {
    color: inherit; 
}

.nav-item.empty-space {
    background-color: #e0e0e0; 
    flex-grow: 1; 
    border-left: 10px solid goldenrod; 
}


.nav-item:not(.active):not(.empty-space):hover {
    background-color: black; 
    cursor: pointer;
}

.nav-item.active:hover {
    background-color: lightgrey; 
    cursor: default;
}